---
const personalImageAlt = "Guillem picture"
const baseUrl = import.meta.env.BASE_URL;
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I'm Guillem, a passionate Machine Learning Engineer. My expertise lies
      in <strong>Natural Language Processing, Computer Vision and Anomaly Detection</strong>,
      which I have successfully applied in various industries.
    </p>

    <p>
      At Siemens, where I currently lead as a Machine Learning Enginer, I am
      involved in the Cybersecurity team, developing AI solutions. My work
      includes developing/training ML models and creatring an scalable 
      <strong>MLOps platform in AWS</strong>.
      This role has enabled me to <strong>reduce cyber-attack risks through NLP
      and unsupervised anomaly detection techniques</strong>. Beyond Siemens, 
      I have shared my knowledge and passion for technology as an 
      <strong>Associate Professor</strong> at the University of Lleida.

    </p>

    <p>
      My approach to ML and Data Science is not just about creating advanced 
      algorithms, but also about ensuring that these solutions are practical, 
      scalable, and adaptable to changing business needs. This focus is reflected 
      in my commitment to <strong>MLOps and infrastructure development</strong>. 
    </p>
  </div>

  <img src={baseUrl + "/me2.jpeg"} class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>
